@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Poetsen+One&family=Sedan:ital@0;1&display=swap');





*{
  margin: 0;
  padding: 0;
}
:root{
  --navbar-height: 59px;
}
#navbar{
  /* sets automatically in a row */
  display: flex; 
  align-items: center;
  position: relative;
}
#navbar::before{
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;  /*content comes upper */
  opacity:0.4 ;
}
#logo{
  margin: 4px 19px;

}
#logo img{
  height: 45px;
  margin: 1px 2px;
}
#navbar ul{
  display: flex;
}

#navbar ul li{
  list-style: none;
  font-size: 1.3rem;
  font-family: "Poetsen One", sans-serif;
}
#navbar ul li a{
  color: aliceblue;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover{
  color:black;
  background-color: white;
}

/* Home Section */
#home{
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 530px;
  justify-content: center;
  align-items: center;
}
#home::before{
  content: "";
  background: url('img/food\ wallpaper.jpg') no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;  /*content comes upper */
  opacity:0.89 ;
}
#home h1{
  color: aliceblue;
  text-align: center;
  font-family: "Lilita One", sans-serif;
}
#home p{
  color: aliceblue;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

/* Services Section */
#services{
  display: flex;
  margin: 34px;
}
#services .box{
  border: 2px solid brown;
}

#services .box img{
height: 156px;
display: block;
margin: auto;
}

/* Utility Classes */
.h-primary{
  font-size: 3.8rem;
  padding: 12px;
}
.h-primary{
  font-size: 2.8rem;
  padding: 12px;
}
.btn{
  padding: 6px 20px;
  border: 2px solid white;
  background-color: rgb(108, 62, 62);
  color: white;
  margin: 17px;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}
.center{
  text-align: center;
}

